@import "tailwindcss";

:root {
  --background: #FFFFF5;
  --foreground: #1C1607;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Custom Tailwind utilities */
@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Line clamp utilities */
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

  }
}

/* Swiper custom styles */
.swiper-button-prev, 
.swiper-button-next {
  --swiper-navigation-color: #1C1607;
  transform: scale(0.8);
}

.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  transition-property: transform;
  position: relative;
}

.swiper-slide > div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.swiper {
  margin: 0 auto;
  gap: 1em;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.swiper-slide img {
  width: 7rem;
  height: 10rem;
  border-radius: 3px;
  object-fit: cover;
}

@media screen and (max-width: 400px) {
  .swiper-slide > div {
    flex-direction: column;
  }
}
